@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: "Merriweather", serif;
    background-color: rgb(227, 240, 250);
   
}

a{
    text-decoration: none;
}

.header{
    border: 3px solid rgb(3, 82, 142);
    border-radius: 10px;
    background-color: rgb(199, 255, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    margin: 25px;
    
}

.title{
    display: flex;
    align-items: left;
    gap: 15px  /* flex elmanların arasındaki boşluğu ifade eder*/

}

.menu {
    font-weight: 500;
    font-size: 20px;
}

.footer{
    border-top: 4px dotted rgb(3, 82, 142) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 5px 25px;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}




